@model CoursesApplication.Domain.Models.ExamSessionSignUp

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Semester</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model.CourseInExamSessions)
        {
            <td>@item.Course.Name</td>
            <td>@item.Course.Semester</td>
        }
    </tbody>
</table>


<div>
    <p>Total Number of Exams: </p>
    @Model.CourseInExamSessions.Sum(x => x.Quantity);
</div>
